*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    margin: 0;
}

li{
    display: block;
}
.clr-list{
    list-style: none;
}